*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: green;
}
.main{
    background: url(images/header-background\ \(2\).jpg);
    background-size: cover;
    height: 80vh;
    background-position: center;
}
.content .par{
    position: center;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
    color:#fff;
    font-size: 20px;
}
.content h3{
    font-size: 38px;
    color: green;
    padding-left: 600px;
    padding-top: 200px;
}
.content .bn{
    width: 200px;
    height: 50px;
    background: green;
    margin-left: 20cm;
    color: #fff;
    border: none;
    font-size: 30px;
}
.sub{
    width: 100%;
    background-color: antiquewhite;
    background-position: center;
    background-size: cover;
    height: 70vh;
    padding-top: 20px;
}
.sub .pic1{
    background: url(images/column-1.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 500px;
    margin-left: 130px;
    margin-top: 40px;
    border: 2px solid;
}

.sub .pic2{
    background: url(images/coloum-2.jpg);
    background-size: cover;
    height: 300px;
    background-position: center;
    width: 500px;
    margin-left: 680px;
    border: 2px solid;
    margin-top: -300px;
    
}
.content{
    border: 2px solid;
    height: 80vh;
    
}
.sub h1{
    padding-left: 300px;
}
.sub span{
    padding-left: 400px;
}
.sub .text{
    
    height: 200px;
    width: 500px;
    margin-left: 130px;
    margin-top: 50px;
    
}
.sub .text2{
    
    height: 200px;
    width: 450px;
    margin-left: 700px;
    margin-top: -200px;
}
.sub1{
    width: 100%;
    background-color: bisque;
    background-position: center;
    background-size: cover;
    height: 80vh;
    padding-top: 20px;
}
.image1{
    background: url(images/image1.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 7cm;
    margin-top: 1cm;
    
}
.image2{
    background: url(images/image2.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 7cm;
    margin-top: 3cm;
}
.image3{
    background: url(images/image3.png);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 16cm;
    margin-top: -13.5cm;
    
}
.image4{
    background: url(images/image4.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 16cm;
    margin-top: 110px;
    
    
}
.image5{
    background: url(images/image5.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 25cm;
    margin-top: -13.3cm;
   
    
}
.image6{
    background: url(images/image6.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 25cm;
    margin-top: 2.9cm;
   
    
}
.image7{
    background: url(images/image7.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
    margin-left: 35cm;
    margin-top: -13.7cm;
    
}
.image8{
    background: url(images/image8.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    width: 200px;
    border-radius: 50%;
     margin-left: 35cm;
     margin-top: 3cm;
    
    
}
.sub2{
    width: 100%;
    background-color: black;
    background-position: center;
    background-size: cover;
    height: 40vh;
    
}
.sub2 h4{
    padding-left: 200px;
    color: #fff;
    padding-top: 2cm;

}
.sub2 span{
    padding-left: 20cm;
    color: #fff;
    padding-top: 2cm;
}
.para{
    
    height: 200px;
    width: 900px;
    margin-left: 198px;
    margin-top: 50px;
    color: #fff;
}
.contact h6{
    
    color: #fff;
    width: 200px;
    height: 130px;
    margin-left: 1258px;
    margin-bottom: 300px;
    margin-top: -5.5cm;
   }








   